body{
    font-family:"Courier New",Courier,Monospace;
}

table.detail
{
    font-size: 10pt;
    border-collapse:collapse;
    font-family:"Courier New",Courier,Monospace;
    width: 100%;
}

table.detail td,table.detail th,table.detail tr{
    border: 1px solid black;
    font-family:"Courier New",Courier,Monospace;
    vertical-align: top;
}

table.detail th{
    background-color: grey;
}

.clstdnumber{
    text-align: right;
}

.flKanan{
    float: right;
}

.clstdcenter{
    text-align: center;
}

.cls-libur{
    background-color: grey !important;
}

.clsbawah{
    vertical-align: bottom;
}

.clstop{
    vertical-align: top;
}

.clsmiddle{
    vertical-align: middle;
}

table.tbl5{
    font-size: 8pt;
    border-collapse:collapse;
    font-family:"Courier New",Courier,Monospace;
    float:left;
    width: 45%;
}

table.tbl5 td,table.tbl5 th,table.tbl5 tr{
    border: 1px solid black;
    font-family:"Courier New",Courier,Monospace;
    vertical-align: top;
}

table.tbl5 th{
    background-color: grey;
}