/**
 * Created by alif on 11/23/13.
 */
body {
    padding-top: 70px;
}

.toolbar{
	margin-bottom: 10px;
	
}

.detail-content{
	/*margin-top: 100px;*/
}

.banner-atas{
	/*position: absolute;*/
	top: 200px;
	margin-bottom: 5px;
	width: 1140px;
	z-index: -1;
	height: 130px;
	background-image: url(../images/banner.jpg);
}

.form-group{
    margin-bottom: 5px;
}

.control-label{
	padding-right: 0px;
}

.modal-header{
    /*background-color: #006dcc;*/
}

/**
sub menu
*/

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}