/*.table thead{
    background-color: #94C6E4;
}*/

.table{
	box-shadow: 10px 10px 5px #888888;
	width: 99%;

	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
}

.table>thead>tr{
	background:-o-linear-gradient(bottom, #428BCA 5%, #428BCA 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #428BCA), color-stop(1, #428BCA) );
	background:-moz-linear-gradient( center top, #428BCA 5%, #428BCA 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#428BCA", endColorstr="#428BCA");	background: -o-linear-gradient(top,#428BCA,428BCA);

	background-color:#428BCA;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.table>thead>tr>th{
    font-size: 14px;
    padding: 5px 5px 5px 5px;

}

.table>thead>tr>th>a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.table>tbody>tr {
    height: 10px;
}

.table>tbody>tr>td{
    font-size: 11px;   
    padding: 2px 5px 2px 5px;
}

.table .kolom-kiri{
	background-color: #B8B6B6;
	text-align: center;
}